.more_container{
  width: 100%;
  display: flex;
  justify-content: center;
  .more{
    width: 1440px;
    padding: 0 10%;
    .head{
      width: 100%;
      img{
        width: 100%;
        height: auto;
        max-height: 500px;
        object-fit: cover;
        object-position: center;
      }
    }
    .body{
      h1{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
      }
      p{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
      }
      .more_info{
        margin-top: 50px;
        div{
          margin-top: 30px;
          h4{
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
          }
          p{
            color: rgba($color: white, $alpha: 60%);
          }
        }
      }
    }
  }
}