@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

body{
  background: #1d1d1d;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2{
    margin: 50px 0;
    color: white;
  }

  .cards{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    .post {
      width: 350px;
      height: 500px;
      display: flex;
       overflow: hidden;
      flex-direction: column;
      position: relative;
  
      @media (max-width: 320px) {
        width: 300px;
      }

      &:hover {
        .header_post {
          margin-top: -20px;
        }
  
        .body_post {
          height: 50%;
        }
         
         img {
            transform: translatey(-10px) translatex(-5px) scale(1.05)
  
         }
      }
  
      .header_post {
        width: 100%;
        height: 60%;
        background: #ddd;
        position: absolute;
        top: 0;
        -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
        -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
        -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
        -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
        transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          transition: ease-in-out 600ms;
        }
      }
  
      .body_post {
        width: 100%;
        height: 50%;
        background: #fff;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        cursor: pointer;
  
  
        .post_content {
          width: 80%;
          height: 80%;
          background: #fff;
          position: relative;
          margin-top: 10px;
  
          h1 {
            font-size: 20px;
            font-weight: bold;
          }
  
          p {
            font-size: 14px;
            font-weight: normal;
          }
  
        }
        .footer_post{
          width: 90%;
          z-index: 1;
          margin-bottom: 25px;
          button{
            width: 100%;
            height: 46px;
            border-radius: 50px;
            background: none;
            border: 1px solid #1d1d1d;
            cursor: pointer;
            transition: .3s;
            &:hover{
              background: #1d1d1d;
              color: white;
            }
          }
        }
      }

      
    }
  }
}



@keyframes top {
  0% {
    opacity: 0;
     bottom: -80px
  }
  100% {
    opacity: 1;
     bottom: 0px

  }
}

@keyframes icon {
  0% {
    opacity: 0;
     transform: scale(0.0);
  }
   50% {
      opacity: 1;
     transform: scale(1.3) rotate(-02deg);
      
   }
  100% {
    opacity: 1;
     bottom: 0px;
  }
}