@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
  font-family: Russo One;
}

body{
  margin: 0;
  overflow-x: hidden;
  padding-bottom: 50px;
}


html {
  scroll-behavior: smooth;
}